<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />-->
   
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
     <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
     <!-- Our CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>

     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!--<button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar">
      
        <span class="navbar-toggler-icon"></span>
      </button>


  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>    
    </ul>
  </div>  

   <div class="container">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>-->
     
      <div class="collapse navbar-collapse" id="navbar">
      
         {% if current_user.is_authenticated %}
          <ul class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          </ul>
            <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            </ul>
          {#<a class="nav-item nav-link" id="login" href="/login">Login</a>#}
          {#<a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>#}
          {% endif %}
        </div>
      </div>
    </nav>

     {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

  <div class="wrapper">

   
  {% if current_user.is_authenticated %}
      <!--Sidebar-->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>LCMS</h3>
            </div>

            <ul class="list-unstyled components">
                {#<p>Menu</p>#}
                <!--<li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Members</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Main</a>
                        </li>
                        <li>
                            <a href="#">Power Station</a>
                        </li>
                        <li>
                            <a href="#">Netx</a>
                        </li>
                    </ul>
                </li>-->
                <li class="active">
                    <a href="{{ url_for('webactivity.activities')}}">Activities</a>
                </li> 
                <li >
                    <a href="{{ url_for('webprogram.programmes')}}">Programmes</a>
                </li> 

                <li>
                    <a href="{{ url_for('webzhouxun.zhouxuns')}}">Zhou Xun</a>
                </li> 
                <li>
                    <a href="{{ url_for('websong.songs')}}">Song</a>
                </li> 

                <li>
                    <a href="{{ url_for('webduty.duties')}}">Duty</a>
                </li> 
              {#  <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Members</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Main</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>#}
                
                <li>
                    <a href="{{url_for('webmember.members')}}">Members</a>
                </li>
                <li class="">
                    <a href="{{ url_for('webdutyrole.dutyroles')}}">Duty Roles</a>
                </li> 
            </ul>

          {#  <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>#}
        </nav>

    {% endif %}

    
    <div class="container">{% block content %} {% endblock %}</div>

    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <!--<script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>